.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b4349;
    cursor: pointer;
    user-select: none;
}

.operator {
    background-color: #12313e;
}

.zero {
    grid-column-start: 1;
    grid-column-end: 3;
}

.equal {
    background-color: #d16015;
}