.cal-container {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  background-color: #061017;
  border: 0.2rem solid #061017;
  font-size: 1.3rem;
}