.cal-container {
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
  background-color: #061017;
  box-shadow: 0 0 1.5rem rgba(0,0,0,0.7);
  font-size: 1.8rem;
}