.buttons-container {
  position: relative;
  padding-top: 125%;
  color: whitesmoke;
}

.buttons-grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.2rem;
}
