.input {
    height: 7rem;
    padding: 0 0.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow-wrap: anywhere;
    overflow-y: auto;
    color: whitesmoke;
    transition: font-size 0.3s ease;
}